# Carga e Análise
Para começar, realize uma análise descritiva dos dados, calculando métricas como média, mediana, desvio padrão, e outras medidas que ajudem a entender melhor a distribuição e comportamento dos clientes.

In [4]:
import pandas as pd
import numpy as np
import sqlalchemy

In [5]:
from sqlalchemy import create_engine, MetaData, Table, inspect

In [6]:
engine = create_engine('sqlite:///clened_telecomX_db/teleconX.db')

In [7]:
print(inspect(engine).get_table_names())

['teleconX_no_NaN', 'teleconX_origin', 'teleconX_ptbr']

In [9]:
df = pd.read_sql_table('teleconX_ptbr', con=engine)
df.sample(5)

,id_cliente,cancelou,genero,idoso,tem_parceiro,tem_dependente,meses_contrato,servicos_telefonicos,multiplas_linhas,servicos_internet,...,seguro_protecao,suporte_tecnico,tem_tv_cabo,tem_stream_filmes,tipo_contrato,fatura_online,forma_pagamento,valor_mensal,valor_total,valor_diario
4130,5842-POCOP,1,feminino,0,1,0,5,1,0,fibra optica,...,1,0,0,1,mensal,1,cheque via correios,88.90,454.15,2.963333
102,0181-RITDD,0,masculino,0,1,1,62,1,0,fibra optica,...,1,1,1,1,dois anos,0,cheque via correios,108.15,6825.65,3.605000
4324,6100-QQHEB,1,masculino,0,1,1,17,1,1,fibra optica,...,0,0,1,1,mensal,1,electronic check,92.55,1515.10,3.085000
999,1449-XQEMT,1,masculino,0,0,0,3,1,0,sem serviço,...,0,0,0,0,mensal,1,cheque via correios,19.80,58.15,0.660000
5449,7666-WKRON,1,feminino,0,0,0,39,1,0,fibra optica,...,1,1,0,0,dois anos,1,electronic check,80.45,3201.55,2.681667

In [10]:
df.describe()

,cancelou,idoso,tem_parceiro,tem_dependente,meses_contrato,servicos_telefonicos,multiplas_linhas,seguranca_online,backup_online,seguro_protecao,suporte_tecnico,tem_tv_cabo,tem_stream_filmes,fatura_online,valor_mensal,valor_total,valor_diario
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.265370,0.162147,0.483033,0.299588,32.371149,0.903166,0.421837,0.286668,0.344881,0.343888,0.290217,0.384353,0.387903,0.592219,64.761692,2279.734304,2.158723
std,0.441561,0.368612,0.499748,0.458110,24.559481,0.295752,0.493888,0.452237,0.475363,0.475038,0.453895,0.486477,0.487307,0.491457,30.090047,2266.794470,1.003002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.608333
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.500000,398.550000,1.183333
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.350000,1394.550000,2.345000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.850000,3786.600000,2.995000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000,3.958333

In [ ]:
df['cancelou'].mean()

np.float64(0.2653698707936959)